<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.assets.mapper.PersonalLoanMapper" >
  <resultMap id="BaseResultMap" type="com.assets.pojo.PersonalLoan" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="psn_code" property="psnCode" jdbcType="INTEGER" />
    <result column="current_month_date" property="currentMonthDate" jdbcType="DATE" />
    <result column="lend_person" property="lendPerson" jdbcType="VARCHAR" />
    <result column="lend_date" property="lendDate" jdbcType="DATE" />
    <result column="lend_money" property="lendMoney" jdbcType="DECIMAL" />
    <result column="accumulate_profit" property="accumulateProfit" jdbcType="DECIMAL" />
    <result column="going" property="going" jdbcType="VARCHAR" />
    <result column="create_date" property="createDate" jdbcType="TIMESTAMP" />
    <result column="tag_status" property="tagStatus" jdbcType="CHAR" />
  </resultMap>
  <resultMap id="ResultMapWithBLOBs" type="com.assets.pojo.PersonalLoan" extends="BaseResultMap" >
    <result column="remark" property="remark" jdbcType="LONGVARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, psn_code, current_month_date, lend_person, lend_date, lend_money, accumulate_profit, 
    going, create_date, tag_status
  </sql>
  <sql id="Blob_Column_List" >
    remark
  </sql>
  <select id="selectByExampleWithBLOBs" resultMap="ResultMapWithBLOBs" parameterType="com.assets.pojo.PersonalLoanExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from personal_loan
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.assets.pojo.PersonalLoanExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from personal_loan
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="ResultMapWithBLOBs" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from personal_loan
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from personal_loan
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.assets.pojo.PersonalLoanExample" >
    delete from personal_loan
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.assets.pojo.PersonalLoan" >
    insert into personal_loan (id, psn_code, current_month_date, 
      lend_person, lend_date, lend_money, 
      accumulate_profit, going, create_date, 
      tag_status, remark)
    values (#{id,jdbcType=INTEGER}, #{psnCode,jdbcType=INTEGER}, #{currentMonthDate,jdbcType=DATE}, 
      #{lendPerson,jdbcType=VARCHAR}, #{lendDate,jdbcType=DATE}, #{lendMoney,jdbcType=DECIMAL}, 
      #{accumulateProfit,jdbcType=DECIMAL}, #{going,jdbcType=VARCHAR}, #{createDate,jdbcType=TIMESTAMP}, 
      #{tagStatus,jdbcType=CHAR}, #{remark,jdbcType=LONGVARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.assets.pojo.PersonalLoan" >
    insert into personal_loan
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="psnCode != null" >
        psn_code,
      </if>
      <if test="currentMonthDate != null" >
        current_month_date,
      </if>
      <if test="lendPerson != null" >
        lend_person,
      </if>
      <if test="lendDate != null" >
        lend_date,
      </if>
      <if test="lendMoney != null" >
        lend_money,
      </if>
      <if test="accumulateProfit != null" >
        accumulate_profit,
      </if>
      <if test="going != null" >
        going,
      </if>
      <if test="createDate != null" >
        create_date,
      </if>
      <if test="tagStatus != null" >
        tag_status,
      </if>
      <if test="remark != null" >
        remark,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="psnCode != null" >
        #{psnCode,jdbcType=INTEGER},
      </if>
      <if test="currentMonthDate != null" >
        #{currentMonthDate,jdbcType=DATE},
      </if>
      <if test="lendPerson != null" >
        #{lendPerson,jdbcType=VARCHAR},
      </if>
      <if test="lendDate != null" >
        #{lendDate,jdbcType=DATE},
      </if>
      <if test="lendMoney != null" >
        #{lendMoney,jdbcType=DECIMAL},
      </if>
      <if test="accumulateProfit != null" >
        #{accumulateProfit,jdbcType=DECIMAL},
      </if>
      <if test="going != null" >
        #{going,jdbcType=VARCHAR},
      </if>
      <if test="createDate != null" >
        #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="tagStatus != null" >
        #{tagStatus,jdbcType=CHAR},
      </if>
      <if test="remark != null" >
        #{remark,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.assets.pojo.PersonalLoanExample" resultType="java.lang.Integer" >
    select count(*) from personal_loan
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update personal_loan
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.psnCode != null" >
        psn_code = #{record.psnCode,jdbcType=INTEGER},
      </if>
      <if test="record.currentMonthDate != null" >
        current_month_date = #{record.currentMonthDate,jdbcType=DATE},
      </if>
      <if test="record.lendPerson != null" >
        lend_person = #{record.lendPerson,jdbcType=VARCHAR},
      </if>
      <if test="record.lendDate != null" >
        lend_date = #{record.lendDate,jdbcType=DATE},
      </if>
      <if test="record.lendMoney != null" >
        lend_money = #{record.lendMoney,jdbcType=DECIMAL},
      </if>
      <if test="record.accumulateProfit != null" >
        accumulate_profit = #{record.accumulateProfit,jdbcType=DECIMAL},
      </if>
      <if test="record.going != null" >
        going = #{record.going,jdbcType=VARCHAR},
      </if>
      <if test="record.createDate != null" >
        create_date = #{record.createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.tagStatus != null" >
        tag_status = #{record.tagStatus,jdbcType=CHAR},
      </if>
      <if test="record.remark != null" >
        remark = #{record.remark,jdbcType=LONGVARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExampleWithBLOBs" parameterType="map" >
    update personal_loan
    set id = #{record.id,jdbcType=INTEGER},
      psn_code = #{record.psnCode,jdbcType=INTEGER},
      current_month_date = #{record.currentMonthDate,jdbcType=DATE},
      lend_person = #{record.lendPerson,jdbcType=VARCHAR},
      lend_date = #{record.lendDate,jdbcType=DATE},
      lend_money = #{record.lendMoney,jdbcType=DECIMAL},
      accumulate_profit = #{record.accumulateProfit,jdbcType=DECIMAL},
      going = #{record.going,jdbcType=VARCHAR},
      create_date = #{record.createDate,jdbcType=TIMESTAMP},
      tag_status = #{record.tagStatus,jdbcType=CHAR},
      remark = #{record.remark,jdbcType=LONGVARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update personal_loan
    set id = #{record.id,jdbcType=INTEGER},
      psn_code = #{record.psnCode,jdbcType=INTEGER},
      current_month_date = #{record.currentMonthDate,jdbcType=DATE},
      lend_person = #{record.lendPerson,jdbcType=VARCHAR},
      lend_date = #{record.lendDate,jdbcType=DATE},
      lend_money = #{record.lendMoney,jdbcType=DECIMAL},
      accumulate_profit = #{record.accumulateProfit,jdbcType=DECIMAL},
      going = #{record.going,jdbcType=VARCHAR},
      create_date = #{record.createDate,jdbcType=TIMESTAMP},
      tag_status = #{record.tagStatus,jdbcType=CHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.assets.pojo.PersonalLoan" >
    update personal_loan
    <set >
      <if test="psnCode != null" >
        psn_code = #{psnCode,jdbcType=INTEGER},
      </if>
      <if test="currentMonthDate != null" >
        current_month_date = #{currentMonthDate,jdbcType=DATE},
      </if>
      <if test="lendPerson != null" >
        lend_person = #{lendPerson,jdbcType=VARCHAR},
      </if>
      <if test="lendDate != null" >
        lend_date = #{lendDate,jdbcType=DATE},
      </if>
      <if test="lendMoney != null" >
        lend_money = #{lendMoney,jdbcType=DECIMAL},
      </if>
      <if test="accumulateProfit != null" >
        accumulate_profit = #{accumulateProfit,jdbcType=DECIMAL},
      </if>
      <if test="going != null" >
        going = #{going,jdbcType=VARCHAR},
      </if>
      <if test="createDate != null" >
        create_date = #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="tagStatus != null" >
        tag_status = #{tagStatus,jdbcType=CHAR},
      </if>
      <if test="remark != null" >
        remark = #{remark,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.assets.pojo.PersonalLoan" >
    update personal_loan
    set psn_code = #{psnCode,jdbcType=INTEGER},
      current_month_date = #{currentMonthDate,jdbcType=DATE},
      lend_person = #{lendPerson,jdbcType=VARCHAR},
      lend_date = #{lendDate,jdbcType=DATE},
      lend_money = #{lendMoney,jdbcType=DECIMAL},
      accumulate_profit = #{accumulateProfit,jdbcType=DECIMAL},
      going = #{going,jdbcType=VARCHAR},
      create_date = #{createDate,jdbcType=TIMESTAMP},
      tag_status = #{tagStatus,jdbcType=CHAR},
      remark = #{remark,jdbcType=LONGVARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.assets.pojo.PersonalLoan" >
    update personal_loan
    set psn_code = #{psnCode,jdbcType=INTEGER},
      current_month_date = #{currentMonthDate,jdbcType=DATE},
      lend_person = #{lendPerson,jdbcType=VARCHAR},
      lend_date = #{lendDate,jdbcType=DATE},
      lend_money = #{lendMoney,jdbcType=DECIMAL},
      accumulate_profit = #{accumulateProfit,jdbcType=DECIMAL},
      going = #{going,jdbcType=VARCHAR},
      create_date = #{createDate,jdbcType=TIMESTAMP},
      tag_status = #{tagStatus,jdbcType=CHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>