<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.assets.mapper.UserConstDicMapper" >
  <resultMap id="BaseResultMap" type="com.assets.pojo.UserConstDic" >
    <result column="category" property="category" jdbcType="VARCHAR" />
    <result column="psn_code" property="psnCode" jdbcType="DECIMAL" />
    <result column="cost_code" property="costCode" jdbcType="VARCHAR" />
    <result column="zh_cn_caption" property="costName" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    category, psn_code, cost_code
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.assets.pojo.UserConstDicExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from user_const_dic
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <delete id="deleteByExample" parameterType="com.assets.pojo.UserConstDicExample" >
    delete from user_const_dic
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.assets.pojo.UserConstDic" >
    insert into user_const_dic (category, psn_code, cost_code
      )
    values (#{category,jdbcType=VARCHAR}, #{psnCode,jdbcType=DECIMAL}, #{costCode,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.assets.pojo.UserConstDic" >
    insert into user_const_dic
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="category != null" >
        category,
      </if>
      <if test="psnCode != null" >
        psn_code,
      </if>
      <if test="costCode != null" >
        cost_code,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="category != null" >
        #{category,jdbcType=VARCHAR},
      </if>
      <if test="psnCode != null" >
        #{psnCode,jdbcType=DECIMAL},
      </if>
      <if test="costCode != null" >
        #{costCode,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.assets.pojo.UserConstDicExample" resultType="java.lang.Integer" >
    select count(*) from user_const_dic
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update user_const_dic
    <set >
      <if test="record.category != null" >
        category = #{record.category,jdbcType=VARCHAR},
      </if>
      <if test="record.psnCode != null" >
        psn_code = #{record.psnCode,jdbcType=DECIMAL},
      </if>
      <if test="record.costCode != null" >
        cost_code = #{record.costCode,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update user_const_dic
    set category = #{record.category,jdbcType=VARCHAR},
      psn_code = #{record.psnCode,jdbcType=DECIMAL},
      cost_code = #{record.costCode,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  
  <select id="selectUserSetDic" resultMap="BaseResultMap" parameterType="map" >   
    SELECT usd.category,usd.psn_code,usd.cost_code
 	FROM user_const_dic usd 
	WHERE usd.category =#{category}  AND usd.psn_code = #{psnCode}
  </select>
  
  
  
</mapper>